<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.finer.erp.biz.mapper.CloseAccountsMapper">

    <select id="selectNotEffectiveBill" parameterType="Integer" resultType="map">
        SELECT seq, `name`, GROUP_CONCAT(bill_no SEPARATOR '，') bill_nos
          FROM bill_not_effective
         WHERE bill_date BETWEEN fn_first_day_of_ym(#{year}, #{month}) AND fn_last_day_of_ym(#{year}, #{month})
         GROUP BY seq, `name`
     </select>

</mapper>
